html
{
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
}


.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  color: black;
}
    
/* Add a gray background color and some padding to the footer */
footer {
  background-color: black;
  padding: 0px;
  color: black;
}




}
.main-content{

  color: black;
}

.content{
  color: black;
  background-color: black;
  color: black;

}

.main-content{
  margin-top: -10px;
  color: black;
  background-color: black;
}
.main-content .a .img {
  position: center;
  padding-top: 10px;
  background-color: black;
  margin-top: 100px;
  color: black;
  
}

.main-content .a{
  position: center;
  padding-top: 10px;
  background-color: black;
  margin-top: 10px;
  color: black;
  
}
